.input {
    border: rgba(216, 222, 233, 0.8) 2px solid;
    border-radius: 25px;
    margin: 0;
    font-size: 14px;
    min-width: 50px;
    min-height: 30px;
    padding: 5px 0 5px 20px;
    cursor: grab;
    background-color: white;
    color: initial;
}

.input:hover {
    background-color: rgba(216, 222, 233, 0.8);
    transition-duration: 0.2s;
}
